{% extends 'Back/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('Back/category/_form.html.twig', {'button_label': 'Update'}) }}

             {% if category.image %}
    <img src="{{ asset('uploads/' ~ category.image) }}" alt="{{ category.name }}">
{% endif %}


    <a href="{{ path('app_category_index') }}">back to list</a>

    {{ include('Back/category/_delete_form.html.twig') }}
{% endblock %}
