{% extends 'Front/base.html.twig' %}

{% block title %} WellFood{% endblock %}
{% block header %}

   <section class="page-banner-area overlay pt-215 rpt-150 pb-160 rpb-120 rel z-1 bgs-cover text-center" style="background-image:  url('{{ asset('theme/images/background/food-banner.jpg') }}');">
            <div class="container">
                <div class="banner-inner text-white">
                    <h3 class="page-title" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">{{ product.name }}</h3>
                    <p></p>
                 
                </div>
            </div>
    </section>
        
{% endblock %}

{% block body %}
<div class="row align-items-center">
    <div class="col-lg-6">
        <div class="product-details-image rmb-55" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
            <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="product-details-content" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
            <div class="section-title">
                <h2>{{ product.name }}</h2>
            </div>
            <span class="price mb-15">${{ product.price }}</span>
        
            <p>{{ product.description }}</p>
            <form action="{{ path('add_to_cart', {'id': product.id}) }}" method="post" class="add-to-cart py-25">
                <h5>Quantity</h5>
                <input type="number" name="quantity" value="1" min="1" max="20" required>
                <button type="submit" class="theme-btn mb-15">Add to Cart <i class="far fa-arrow-alt-right"></i></button>
            </form>
            <ul class="category-tags pt-20 pb-30">
                <li>
                    <h6>Category</h6> :
                     
                        <a href="{{ path('category_show', { id: product.category.id }) }}">{{ product.category.name }}</a> 
                    
                </li>
                <li>
                    <h6>Tags</h6> :
                        <a href="#">Pizza</a>
                        <a href="#">Burger</a>
                        <a href="#">Soup</a>
                </li>
            </ul>
            <div class="social-style-one">
                <h5>Share</h5>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}